src/test/resources/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="schema">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="complexType">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sequence">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                                        <xs:attribute type="xs:QName" name="type" use="optional"/>
                                                        <xs:attribute type="xs:byte" name="minOccurs" use="optional"/>
                                                        <xs:attribute type="xs:byte" name="maxOccurs" use="optional"/>
                                                        <xs:attribute ref="urn:type" xmlns:urn="urn:saw-sql"/>
                                                        <xs:attribute ref="urn:sqlFormula" xmlns:urn="urn:saw-sql"/>
                                                        <xs:attribute ref="urn:displayFormula" xmlns:urn="urn:saw-sql"/>
                                                        <xs:attribute ref="urn:aggregationRule" xmlns:urn="urn:saw-sql"/>
                                                        <xs:attribute ref="urn:aggregationType" xmlns:urn="urn:saw-sql"/>
                                                        <xs:attribute ref="urn:tableHeading" xmlns:urn="urn:saw-sql"/>
                                                        <xs:attribute ref="urn:columnHeading" xmlns:urn="urn:saw-sql"/>
                                                        <xs:attribute ref="urn:isDoubleColumn" xmlns:urn="urn:saw-sql"/>
                                                        <xs:attribute ref="urn:columnID" xmlns:urn="urn:saw-sql"/>
                                                        <xs:attribute ref="urn:length" xmlns:urn="urn:saw-sql"/>
                                                        <xs:attribute ref="urn:scale" xmlns:urn="urn:saw-sql"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="targetNamespace"/>
        </xs:complexType>
    </xs:element>
</xs:schema>